# Copy from main project
DATABASE_URL="postgresql://postgres:PASSWORD@db.XXXXX.supabase.co:5432/postgres"
HELIUS_API_KEY="0e492ad2-d236-41dc-97e0-860d712bc03d"
ENCRYPTION_KEY=""
WEBHOOK_AUTH_SECRET=""
WEBHOOK_URL="https://feedpump.fun/api/webhooks/helius"
